# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
#
# SPDX-License-Identifier: ISC

[rules]
cache-control-present = true
etag-or-last-modified = false
x-content-type-options = true
