# SPDX-FileCopyrightText: 2025 Alexandre Gomes Gaigalas <alganet@gmail.com>
#
# SPDX-License-Identifier: ISC

[rules]
# Client Rules
client_accept_encoding_present = true
client_user_agent_present = true
client_cache_respect = true
connection_efficiency = true

# Server Rules
server_cache_control_present = true
server_etag_or_last_modified = true
server_x_content_type_options = true
